Parser for Messages

Parse the commands and arguments from the messages. Only split by `\n`, because we remove `\r` automatically.
See IRC [RFC1459 Section 2.3 Messages](https://datatracker.ietf.org/doc/html/rfc1459#section-2.3)

Nice would be to return a vector of a struct similar to the following:
```cpp
struct Message {
    std::string              prefix;
    std::string              command;
    std::vector<std::string> parameters;
};
```

We forgot to add the parsing for the `<trailing>` parameter. So basically everything after the (maybe) second `:`

And move the code for `class Message` from the .hpp file to the .cpp file